.loginDialog {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding-top: 8px;

  .error {
    color: red;
  }

  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
  }

  .horizontalControls , .horizontalControls2{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .verticalControls {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .controls{
    button {
      width: 100%;
    }
  }
  .horizontalControls{
    flex-direction: column;
  }
  .horizontalControls2{
    flex-direction: column;
    width: 113%;
  }
}

@media (max-width: 576px) {
  .controls{
    button {
      width: 100%;
    }
  }
  .horizontalControls{
    flex-direction: column;
  }
  .horizontalControls2{
    flex-direction: column;
    width: 113%;
  }
}

@media (max-width: 340px) {
  .controls{
    button {
      width: 180px;
    }
  }
}
