.container {
  display: flex;
  margin: 0 25px;
  padding: 20px;
  max-width: 1200px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  justify-content: space-between;
  padding-right: 300px;
}

.containerDetails {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 700px;
}

.tunedCarouselContainer {
  margin: 0 auto;
  max-width: 450px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.tunedCarouselContainer img {
  object-fit: contain;
  max-height: 300px;
}

.containerActions {
  position: fixed;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  margin: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
  }
  .containerDetails{
    max-width: 100%;
    justify-self: center;
  }
  .containerDescription{

  }

  .containerActions{
    right: 0;
    transform: none;
    position: relative;
    top: auto;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .containerActions{
    align-self: center;
  }
}