@import "../../index";
.homePage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;

  @keyframes colorChange {
    0% { background-color: #ffffff; }
    50% { background-color: #b5defc; }
    100% { background-color: #ffffff; }
  }

}

.headBlock{
  max-height: 700px;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .info{
    width: 40%;
    background-color: rgba($back-color1, .8);
    box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.2), -2px -1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #fff;

    @media (max-width: 750px) {
      width: 50%;
    }
    @media (max-width: 600px) {
      width: 60%;
    }
  }

  img {
    height: 35vh;
    align-items: center;
    position: center;
    margin-bottom: 0;
    transform: perspective(500px) rotateY(20deg);
  }

  h1 {
    font-size: 2.5em;
    text-align: center;
    @media (max-width: 576px) {
      font-size: 2em;
    }
  }

  p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    @media (max-width: 576px) {
      font-size: 1em;
    }
  }
}

.moveToListingsButton{
  display: flex;
  margin: 1em;
  align-self: center;
  overflow: hidden;
  background-color: rgba($back-color1, .9);
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.2), -2px -1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all .3s ease;

  &:hover{
    background-color: darken($back-color1, 2%);
    cursor: pointer;
    box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.2), -3px -2px 6px 0 rgba(0, 0, 0, 0.2);
    transform: translate(-1px, -1px);
    opacity: 0.9;
    a{
      &::before{
        width: 75%;
      }
      &::after{
        width: 35%;
      }
    }
  }

  a{
    color: #fff;
    font-size: 1.5em;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    @media (max-width: 576px) {
      font-size: 1em;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: width .6s ease;
    }
    &::before{
      margin-bottom: 5px;
      left: 0;
    }
    &::after{
      margin-bottom: 2px;
      right: 0;
    }
  }
}

.middleBlock{
  display: flex;
  flex-direction: column;
  width: 100%;
}
